.alert li {
    font-size: 14px;
}

.logout-link {
    border: none;
    background: none;
    display: inline;
    color: #fff !important;
}

.overlay-bg{
	position: relative;
    width: 99%;
    height: 100%;
    background-color: currentColor;
    opacity: 0.4;
}

@media screen and (max-width: 600px) {
  .mobile-hidden {
    display: none;
  }
}
